body {
    background-color: #033C03;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #B8F0B8;

    
}
header{
    border:double;
    border-color:#2B772B;
    border-top-right-radius:50px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin: 0 0 0 42.3%;
    padding-left:30px;
    padding-right:30px;
    text-align:center;
    display:inline-block;
    background-color:#459145;
}
footer, nav, section {
    display: block;
    text-align: center;
}
div.hitMe{
    text-align:center;
}
div.footerLinks{
    text-align:right;
}

div.HomeBottom{
    border:double;
    border-color:#2B772B;
    border-top-right-radius:50px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    display:inline-block;
    text-align:center;
    width:450px;
    background-color:#459145;
    height:50px;
    overflow:hidden;
    transition: height 0.5s ease-out;
}
div.HomeBottom:hover{
    height:200px;
}
div.homeTab{
    border:double;
    border-color:#2B772B;
    border-bottom-left-radius:10px;
    text-align:center;
    display:inline-block;
    width:50px;
    color:#5ECD5E;
    background-color:#459145;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    transition: padding-right 1s;
    
    
}
div.homeTab:hover{
     padding-right:100px;
     background-color: #5ECD5E;
     color:#459145;
     
}
div.aboutTab{
    border:double;
    border-color:#2B772B;
    border-bottom-left-radius:10px;
    text-align:center;
    display:inline-block;
    background-color:#459145;
    width:50px;
    color:#5ECD5E;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    transition: padding-right 1s;
}
div.aboutTab:hover{
     padding-right:100px;
     background-color: #5ECD5E;
     color:#459145;
}
div.workTab{
    border:double;
    border-color:#2B772B;
    border-bottom-left-radius:10px;
    text-align:center;
    display:inline-block;
    background-color:#459145;
    width:50px;
    color:#5ECD5E;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    transition: padding-right 1s;
}
div.workTab:hover{
     padding-right:100px;
     background-color: #5ECD5E;
     color:#459145;
}
div.contactTab{
    border:double;
    border-color:#2B772B;
    border-bottom-left-radius:10px;
    text-align:center;
    display:inline-block;
    background-color:#459145;
    width:50px;
    color:#5ECD5E;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    transition: padding-right 1s;
}
div.contactTab:hover{
     padding-right:100px;
     background-color: #5ECD5E;
     color:#459145;
}
div.workImageHolder{
    display: block;
    text-align: center;
}
div.workImage1{
    padding:10px;
    border:double;
    border-color:#2B772B;
    background-color:#459145;
    display:inline-block;
}
div.workImage2{
    padding:10px;
    border:double;
    border-color:#2B772B;
    background-color:#459145;
    display:inline-block;
}

div.workImage3{
    padding:10px;
    border:double;
    border-color:#2B772B;
    background-color:#459145;
    display:inline-block;
}
div.workImage4{
    padding:10px;
    border:double;
    border-color:#2B772B;
    background-color:#459145;
    display:inline-block;
    margin-right:3px;
}
div.textBoxes{
    text-align:center;
}
div.firstNameBox{
    display:inline-block;
    text-align:center;
}
div.lastNameBox{
    display:inline-block;
    text-align:center;
}
div.phoneBox{
    display:inline-block;
    text-align:center;
}
div.emailBox{
    display:inline-block;
    text-align:center;
}
div.commentBox{
    display:inline-block;
    text-align:center;
}

div.frontContainer{
    text-align:center;
    height: auto;
    width: auto;
}
div.WorkPage{
    display:inline;
}





a:link {
    color: #87E087;
}

/* visited link */
a:visited {
    color: #5ECD5E;
}

/* mouse over link */
a:hover {
    transition: color 0.5s ease;
    color: #03BF03;
    
}

/* selected link */
a:active {
    color: #1E9C1E;
}



div.workPicture1{
r
}
div.workPicture2{

}
div.workPicture3{

}
div.workPicture4{
    
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #f00;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
