@{
    ViewBag.Title = "Index";
}

<h2>Inspirational Title</h2>

<div class="homePicture1">
    <img src=http://i59.tinypic.com/14sp5yf.jpg alt="Shmancy" width="100%"/>
</div>

 <div class="frontContainer">
    
    <div class="HomeBottom">
        <h3>About Me</h3>
        ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada dolor sed quam efficitur, in laoreet eros fringilla. Nulla at elementum diam. Phasellus ac eros fringilla, sagittis nunc iaculis, accumsan mi. Nullam ac tristique turpis. Nullam vel vestibulum felis. In ultrices, magna pellentesque ornare faucibus, nulla tellus auctor metus, in laoreet est diam et justo. Pellentesque leo magna, congue nec odio eu, interdum gravida nisl.
    </div>

    <div class="HomeBottom">
        <h3>Work</h3>
         ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada dolor sed quam efficitur, in laoreet eros fringilla. Nulla at elementum diam. Phasellus ac eros fringilla, sagittis nunc iaculis, accumsan mi. Nullam ac tristique turpis. Nullam vel vestibulum felis. In ultrices, magna pellentesque ornare faucibus, nulla tellus auctor metus, in laoreet est diam et justo. Pellentesque leo magna, congue nec odio eu, interdum gravida nisl.
    </div>

    <div class="HomeBottom">
        <h3>Contact</h3>
        ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada dolor sed quam efficitur, in laoreet eros fringilla. Nulla at elementum diam. Phasellus ac eros fringilla, sagittis nunc iaculis, accumsan mi. Nullam ac tristique turpis. Nullam vel vestibulum felis. In ultrices, magna pellentesque ornare faucibus, nulla tellus auctor metus, in laoreet est diam et justo. Pellentesque leo magna, congue nec odio eu, interdum gravida nisl.
    
    </div>
        </div>

