@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>He's dead, Jim!</h1>
        <h2>An Error occurred! Oh no!</h2>
    </hgroup>
</body>
</html>