@{
    ViewBag.Title = "You're looking extra perfect today.";
}

<h2>Look at my face. Look at it.</h2>

<div class="workImageHolder">
    <div class="workImage1">
    <img src="http://i62.tinypic.com/2mwcw3k.jpg" alt="I have friends" height="300px" /><br />
        Proving I have friends.
    </div> 
    
    <div class="workImage2">
    <img src="http://i61.tinypic.com/2dtryps.jpg" alt="I'm persistant. Hire me." height="261px" /><br />
        I'm persistent as hell. Hire me.
        </div>

    <br />
    
    <div class="workImage3">
    <img src="http://i58.tinypic.com/qxwdwz.jpg" alt="I heard you like ties" height="300px" /><br />
        I was told employers like ties. I wasn't told how many.
        </div>

    <div class="workImage4">
    <img src="http://i61.tinypic.com/28m351.jpg" alt="Sexy Chunk" height="300px" /><br />
        Also a picture of how gorgeous Chunk from The Goonies is now.
    </div>
    </div>
